Name : Shivam Pal

## Assignment 01

### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*

'hello'

-87.8

-

/

+

6


#### Ans : - 
*, - , / , + are the **mathematical operators**. Where '*' means multiplication, '-' means substraction, '/' means division & '+' means addition.

'hello', -87.8 , 6 are the **Expressions**. Where 'hello' is a string, -87.8 is a float value and 6 is a int value.

### 2. What is the difference between string and variable?
#### Ans :-
A **variable** is used to store the any information whereas ***String** is a type of information which is store in a variable.

**Example :**                                        
***x = 6***         #where x is a varible which is store the int type value 6.    

***y = "Shivam"*** #where y is a variable which is store the string (string is a 'single or group of characters' which is enclosed by ' ' single quotes or double quotes " " .

### 3. Describe three different data types.
**Ans :-** The three data types are :

1) **String** : A collection of letters & alpha-numeric which is enclosed by Double quotes " " or Single quotes ' ' is known as string data type. Represented by **str**

2) **Integer** : Whole numbers are int data type (ex- 1,2,3,4 are the int data types values). Represented by **int**.

3) **Float** : Decimal numbers are float data type (ex- 1.2,33.6,40.0 are the float type data types). Represented by **float**.

### 4. What is an expression made up of? What do all expressions do?

**Ans :-** An expression is made up of combinations of operators and operands.
 i.e.   
 x = 5 and y = 10
 * then  x + y is called a expression, where x and y are operands and + is a operator. 
 * Expression evalute the operand values with thew help of operators.

In [21]:
x = 5
y = 10
x+y     #it is an expression, which evaluates

15

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans :-** Difference b/w expression and statements are :
* Expression is a combinations of values, operators & variable which is return a new result but statement does not return anything.
* e.g. spam = 10 and y = 5 then spam+y return a new value 15, whereas assignment operator(spam=10, y=5) only store the values.

### 6. After running the following code, what does the variable bacon contain?
bacon = 22 <br>
bacon + 1

**Ans :-** After running the code baccon variable contain **23**.

In [22]:
bacon = 22
bacon+1

23

### 7. What should the values of the following two terms be?
'spam'+'spamspam' <br>
'spam'*3

**Ans :-**<br> 
* 'spam'+'spamspam'  returns 'spamspamspam'
* 'spam'*3 returns 'spamspamspam'

In [23]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?

**Ans :-**  100 is a invalid variable name because a variable name can not start with the literal numbers. A variable name always starts with underscore(_) or any letters.

So, From the above statement - 100 is a invalid variable name and eggs is a valid variable name

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans :-**<br> 
* int() function is used for integer values
* float() function is used for decimal or floating values
* str() function is used for string value

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten '+ 99 +' burritos.'

**Ans :-** This expression gives an error beacuse we can not concatenate any integer with the string. We can fix it with the help of type casting. If we convert 99 to string then this expression will not give any error. <br>

for example :

In [24]:
'I have eaten '+str(99)+' burritos.'

'I have eaten 99 burritos.'

## Thank You