shivampal7722@gmail.com

###  1. What exactly is [ ]?
Ans :- Empty List.

### 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]  # Assumed list stored in spam variable.
spam

[2, 4, 6, 8, 10]

In [2]:
spam[2] = 'hello' # Assign the value 'hello' as third value.
spam

[2, 4, 'hello', 8, 10]

### Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

In [3]:
spam = ['a','b','c','d']

### 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [4]:
spam[int(int('3'*2)/11)]

'd'

### 4. What is the value of spam[-1]?

In [5]:
spam[-1]

'd'

### 5. What is the value of spam[:2]?

In [6]:
spam[:2]

['a', 'b']

### Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [7]:
bacon = [3.14,'cat',11,'cat',True]

### 6. What is the value of bacon.index(&#39;cat&#39;)?

In [8]:
bacon.index('cat')

1

### 7. How does bacon.append(99) change the look of the list value in bacon?

In [9]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

### 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon? <br>
Ans:- It removes the first ocuurence of 'cat' which one is present at index[1]

In [10]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

### 9. What are the list concatenation and list replication operators?

Ans : - **List Concatenation** :- When we add two list with '+' operator then it is called list concatenation. <br>
example:-

In [11]:
a = [1,2,3,4] #first list
b = [5,6,7,8] #second list
a+b  #concating list

[1, 2, 3, 4, 5, 6, 7, 8]

**List replication** :-The replication used for repeats a list a given number of times by operator * . <br>
example:-

In [12]:
a = ['Shivam', 'Pal']
a = a * 3
print(a)

['Shivam', 'Pal', 'Shivam', 'Pal', 'Shivam', 'Pal']

### 10. What is difference between the list methods append() and insert()?

Ans :- **append()** adds an item to the end of a list, whereas **insert()** inserts and item in a specified position in the list. <br>
Example :-

In [13]:
list1 = ['shivam','shubham']
list1.append('rishabh')
print('list1 after append() mehtod : ',list1)
list1.insert(1,'ram')
print('list1 after insert() mehtod : ',list1)

list1 after append() mehtod :  ['shivam', 'shubham', 'rishabh']
list1 after insert() mehtod :  ['shivam', 'ram', 'shubham', 'rishabh']

### 11. What are the two methods for removing items from a list?
 Ans :-

1) The **pop()** method removes an element from the list based on the index given or by default it removes last element from thew list. <br>
2) The **remove()** helps to remove the very first given element matching from the list.

In [16]:
list2 = [2,4,6,2,8,10,11]
list2.pop()   #removes last element
print(list2)
list2.pop(4)  #removes the element which one is present at index 4
print(list2)
list2.remove(2) #removes the element 2 from the list (first occurence of 2 )
print(list2)

[2, 4, 6, 2, 8, 10]
[2, 4, 6, 2, 10]
[4, 6, 2, 10]

### 12. Describe how list values and string values are identical.

Ans : -  Lists are similar to strings, which are ordered collections of characters, except that the elements of a list can have any type and for any one list, the items can be of different types.

### 13. What&#39;s the difference between tuples and lists?

Ans :- **lists** are mutable i.e we can modified the lists whereas **tuples** are immutable i.e we can't modified the tuples.

### 14. How do you type a tuple value that only contains the integer 42?
Ans :-

In [24]:
b = (42,)  #trailing comma is mandatory for showing the tuple otherwise it will return int type.
print(type(b))

a = (42)
print(type(a))

<class 'tuple'>
<class 'int'>

### 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

Ans :- You get a list value's tuple and tuple value's list by using **type casting**. <br>
Example :-

In [28]:
list1 = ['Shivam']
a = tuple(list1) # type casting for converting list type into tuple.
print(type(a))

tuple1 = ('Shivam')
a = list(tuple1) # type casting for converting tuple type into list.
print(type(a))

<class 'tuple'>
<class 'list'>

### 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

Ans :- Variables that "contain" list values don't actually contain lists directly. Actually they contain **references** to list values.

### 17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans : - When we use the = operator, It only creates a new variable that shares the reference of the original object. In order to create “real copies” or “clones” of these objects, we can use the copy module in Python.

**copy.copy()** :- It is also known as shallow copy. A shallow copy creates a new compound object and then references the objects contained in the original within it, which means it constructs a new collection object and then populates it with references to the child objects found in the original.

**copy.deepcopy()** :- A deep copy creates a new compound object before inserting copies of the items found in the original into it in a recursive manner. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original.

# Thank You